:root{
    --primary-text-color: #8F95A5;
    --title-text-color:#000000;
    --background-color:#ffffff;
}
body{
    font-family: 'Poppins', sans-serif;
    color:var(--primary-text-color);
    background-color:#ffffff;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0;
    }


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul, ol{
    margin: 0;
    padding-left: 0;
}
li{
    list-style: none;
}
.section{
    padding: 180px 0;
}
.container{
    width: 1338px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
}
/* header bogdan */

/* main */

/* hero nikita */

/* scils dima */

/* about sasha */

/* pricing yevgen */

/* contacts stas */

/* random denys */

/* footer oksana */